body {
    background: -moz-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%, rgba(0,0,0,0) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(201,201,201,0.65)), color-stop(99%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c9c9c9', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.user
{
    float:left;
    width: 22%;
    height: 90%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 10px 10px 10px;
}

.user::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.user::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.series
{
    float:left;
    width: 22%;
    height: 90%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 10px 10px 10px;
}

.series::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.series::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.links
{
    float:left;
    width: 22%;
    height: 90%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 10px 10px 10px;
}

.links::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.links::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.aprove
{
    float:left;
    width: 22%;
    height: 90%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 10px 10px 10px;
}

.aprove::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.aprove::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.info::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.info::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.books
{
    float:left;
    width: 15%;
    height: 90%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 10px 10px 10px;
}
.info
{
    float:left;
    width: 60%;
    height: 90%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 10px 10px 10px;
}
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}


#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#greymask {background:#B0B0B0}
#frameless {padding:0}
#frameless .tclose {left:6px}
#element_to_pop_up { display:none; }

.content
{	
    background-color: #35a5f5;
    font-size: 1.5em;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
    border: 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    opacity:0.6;
    filter:alpha(opacity=40);
}

.content:hover
{
    opacity:1.0;
    filter:alpha(opacity=100);
}
.BTEXT
{
    padding-left: 2%;
}
.SNAME
{
    float:left;
}
.ANAME
{
    float: right;
}
.ENAME
{
    height: 30px;
}

.EUL
{
    float:left;
    width: 70%;
    height: 90%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    margin: 10px 10px 10px 10px;
}

.EUL::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.EUL::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}