/* 
    Document   : btlib
    Created on : 19.01.2013, 14:07:24
    Author     : Simon
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 60px;
}
body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
    background-color: #333333;
}
body {
    background-color: #E5E5E5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: #333333;
}

.toc {
    top: auto;
    bottom: auto;
    position:fixed;
    left:-200px;
}

.btlib-center {
    padding-left: auto;
    padding-right: auto;
}

.bottom-nav > div > ul > li > * {padding-top: 5px !important;}
.bottom-nav {height: 30px !important;}

@media (min-width: 980px) {
    .btlib-mobile-toc {
        display: none !important;
    }
}

div.btn-group[data-toggle=buttons-radio] input[type=radio] {
    display:    block;
    position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    opacity:    0;
}