body {
    background: -moz-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%, rgba(0,0,0,0) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(201,201,201,0.65)), color-stop(99%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(201,201,201,0.65) 0%,rgba(0,0,0,0) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c9c9c9', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#kopf
{	
    position: absolute-top;
    font-size: 0.91em;
    float: left; width: 100%;
    height: 80px;
    margin: 0; padding: 0;
    border: 0px dashed silver;
    display: none;
}

#kopf1
{
    font-size: 0.91em;
    float: left; width: 100%;
    height: 40px;
    margin: 0; padding: 0;
    border: 1px dashed silver;
}

#login
{
    font-size: 0.91em;
    float: right; width: 20%;
    height: 39px;
    margin: 0; padding: 0;
    border: 1px dashed silver;
}

#pfad
{	
    height: 40px;
    -webkit-border-bottom-right-radius: 150px;
    -webkit-border-bottom-left-radius: 150px;
    -moz-border-radius-bottomright: 150px;
    -moz-border-radius-bottomleft: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-top: 41px; 
    margin-left: 6%;
    margin-right: 6%; padding: 0;
    border: 1px dashed silver;
    padding-left: 5%;
    padding-right: 5%;
}

#logo
{
    font-size: 0.91em;
    float: left; width: 10%;
    height: 39px;
    margin: 0; padding: 0;
    border: 1px dashed silver;
}

#series
{	
    position: absolute;
    font-size: 0.91em;
    padding: 0;
    margin-top: 100px;
    margin-left: 6%;
    height: 85%;
    width: 87%;
    border: 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
}
#series::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

#series::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#volumes
{	
    position: absolute;
    font-size: 0.91em;
    padding: 0;
    margin-top: 100px;
    margin-left: 6%;
    height: 80%;
    width: 87%;
    border: 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    display: none;
}

#volumes::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

#volumes::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#book
{	
    padding-left: 2%;
    position: absolute;
    font-size: 0.91em;
    padding: 0;
    margin-top: 100px;
    margin-left: 6%;
    height: 80%;
    width: 87%;
    border: 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: auto;
    display: none;
}

#book::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

#book::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#comments
{	
    background-color: #333;
    opacity:.8;
    padding-left: 2%;
    position: absolute;
    font-size: 0.91em;
    padding: 0;
    margin-top: 100px;
    margin-left: 6%;
    height: 80%;
    width: 87%;
    border: 1px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
    overflow: auto;
    display: none;
    bottom: 0px;
}

#comments::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

#comments::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#content
{	
    background-color: #35a5f5;
    font-size: 1.5em;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
    border: 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    opacity:0.6;
    filter:alpha(opacity=40);
}

#content:hover
{
    opacity:1.0;
    filter:alpha(opacity=100);
}

#bocks
{
    font-size: 0.91em;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
    border: 1px dashed silver;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.cover
{	
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    float: right;
    border: 1px;
    height: 600px;
    width: 400px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
}
.BTEXT
{
    padding-left: 2%;
}
.SNAME
{
    float:left;
}
.ANAME
{
    float: right;
}
.ENAME
{
    height: 30px;
}
#b2i    {
    background:transparent url("../../images/index.png") no-repeat scroll 0px 0px;
    height:200px;
    left:0;
    position:fixed;
    top:150px;
    width:40px;
    z-index: 50;
    display: none;
}
#b2s    {
    background:transparent url("../../images/series.png") no-repeat scroll 0px 0px;
    height:200px;
    left:0;
    width:40px;
    position:fixed;
    top:400px;
    z-index: 50;
    display: none;
}

#updates    {
    background:transparent url("../../images/updates.png") no-repeat scroll 0px 0px;
    display: none;
    height:200px;
    right:0;
    position:fixed;
    top:150px;
    width:40px;
    z-index: 50;
}

.wrapper {
    width: 100px;
}
.ui-textfield {
    font: inherit;
    color: inherit;
    text-align: inherit;
    outline: none;
}
/* Mask for background, by default is not display */
#mask {
    display: none;
    background: black; 
    box-shadow: 0px 0px 20px #999; /* CSS3 */
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup{
    display:none;
    background: #333;
    padding: 10px; 	
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right; 
    margin: -28px -28px 0 0;
}

fieldset { 
    border:none; 
}

form.signin .textbox label { 
    display:block; 
    padding-bottom:7px; 
}

form.signin .textbox span { 
    display:block;
}

form.signin p, form.signin span { 
    color:#999; 
    font-size:11px; 
    line-height:18px;
} 

form.signin .textbox input { 
    background:#666666; 
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    color:#fff; 
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font:13px Arial, Helvetica, sans-serif;
    padding:6px 6px 4px;
    width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color:#000; 
    border-width:1px;
    border-radius:4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#333;
    cursor:pointer;
    display:inline-block;
    padding:6px 6px 4px;
    margin-top:10px;
    font:12px; 
    width:214px;
}
.button:hover { background:#ddd; }

.ui-autocomplete {
    max-height: 85%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

.ui-autocomplete::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}